body {
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 100px;
    background: #fff;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.table_container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

thead {
    background-color: #333;
    color: white;
}

th, td {
    padding: 18px;
    text-align: center;
}

tbody {
    background: #f6f6f6;
}

tbody tr:hover {
    background-color: #dddddd;
    transition: 400ms;
}

.Pending {
    color: orange;
    font-weight: bold;
}

.Accepted {
    color: green;
    font-weight: bold;
}

.Rejected {
    color: red;
    font-weight: bold;
}

.view_detail{
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    background: green;
}

