.navbar {
    background-color: #3E5172;
    color: white;
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar a {
    color: white;
    text-decoration: none;
    position: relative;
}

.navbar a::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -7px;
    height: 3px;
    border-radius: 10px;
    background: lightblue;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.25s ease;
}

.navbar a:hover {
    color: lightblue;
}

.navbar a:hover::before {
    transform: scaleX(1);
}

.links {
    display: flex;
    gap: 25px;
    align-items: center;
}

.nav_button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #0d6efd;
    color: white;
    cursor: pointer;
}

.nav_profile_container {
    position: relative;
}

.nav_profile_button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.nav_profile_button img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.nav_profile_menu {
    position: absolute;
    top: 50px;
    right: 0;
    display: none;
    background: #fff;
    padding: 15px;
    width: 180px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.nav_profile_menu > a {
    color: #000;
}

.nav_profile_menu.show {
    display: grid;
    gap: 15px;
}