

body {
    /* font-family: Arial, sans-serif;
    background: #f2f5f7; */
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    background-color: white;
    padding: 25px 20px;
    margin: 100px 0;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.second_container {
    display: flex;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 15px;
    width: 55%;
}



form input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 100%;
}

.name {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.name input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 100%;
}

textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 100%;
}

.button {
    border: none;
    padding: 10px 40px;
    border-radius: 10px;
    background-color: lightblue;
}

.button:hover {
    cursor: pointer;
    background-color: #84f1ffff;
}

label {
    display: block;
    padding-bottom: 5px;
}