body {
  /* font-family: Arial; */
  /* background: #eef2f3; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  width: 500px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  background: green;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}